<!DOCTYPE html><html>
<head>
     <link rel="stylesheet" href="css/styles.css">
<title>This is the Title. It will be explained later on</title>
</head>
<header>
    <img src="boxmodel.png" width=300px height=auto>
    <nav id="navigationBar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.xhtml">About</a></li>
        <li><a href="/contact.xhtml">Contact</a></li>
      </ul>
    </nav>
</header>  
<body>
 <h1> Title </h1>
 <p> a paragraph </p>

 <!-- lists: 1. Ordered lists are numbered and are useful for presenting things like your
top 10 favorite songs from 2015 or the steps to bake a cake.
2. Unordered lists are not numbered and by default are presented with bullets
for each list item. However, these days unordered lists are often used as a
general-purpose container for any list-like collection of items.
3. Definition lists are used for glossaries and other items that pair a label
with some kind of description.
 -->

 <!-- unordered list -->
 <p>Dante's Divine Comedy consists of three books:</p>
<ul style="list-style-type: disc">
  <li>The Inferno</li>
  <li>The Purgatorio</li>
  <li>The Paradiso</li>
</ul>

 <!-- numbered list -->
<h1>How to Boil an Egg</h1>
<ol style="list-style-type: lower-alpha;"> 
    <li>Put eggs in a pot filled with cold water</li>
    <li>Bring the water to a boil</li>
    <li>Take the pot off the heat, cover it, and let it sit for
        12 minutes</li>
    <li>Remove the eggs from the hot water and cool them by
        running water over them or placing them in a bowl of
        ice water to cool off</li>
    <li>Peel and eat</li>
</ol>

<!-- links -->
<a href="menu.xhtml" title="The Twelve Caesars">


</body>
</html>

<!-- this is a comment -->