<!DOCTYPE html><html>
<head>
     <link rel="stylesheet" href="../static/css/styles.css">
<title>Match for Friends</title>
</head>
<header>
    <!-- img src="boxmodel.png" width=300px height=auto> -->
    <nav id="navigationBar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
</header>  
<body>
 <h1> Match for Friends </h1>
 <p> This is an app for finding friends. </p>
</body>
</html>

<!-- this is a comment -->