{% extends "base.html" %}
{%block bodycontent%}

<div class="container">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Find your match!</legend>
        <div class="form-group">
            {{ form.fav_food.label(class="form-control-label")}}
            {{ form.fav_food(class="form-control form control-lg")}}
        </div>
        <div class="form-group">
            {{ form.fav_movie.label(class="form-control-label")}}
            {{ form.fav_movie(class="form-control form control-lg")}}
        </div>
        <div class="form-group">
            {{ form.fav_holiday.label(class="form-control-label")}}
            {{ form.fav_holiday(class="form-control form control-lg")}}
        </div>
        <div class="form-group">
            {{ form.coffee_routine.label(class="form-control-label")}}
            {{ form.coffee_routine(class="form-control form control-lg")}}
        </div>
      </fieldset>
      <div class="form-group">
            {{ form.submit(class="btn btn-outline.info")}}
      </div> 
    </form>
  </div>

{% endblock %}