{% extends "base.html" %}
{%block bodycontent%}

<div class="container">
    <form action="/match" method="POST" role="form">
        {% for question in form %}
            <div class="question">
                <h2>{{ question.label }}</h2>
            </div>
            <div class="answer">
                {{ question }}
            </div>
        {% endfor %}
        <!-- <input type="submit" value="Submit"/> -->
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}